.icon-filter {
    background-image: url(../images/filter/filter-icon.svg);
}

.icon-filter-white{
    background-image: url(../images/filter/filter-icon-white.svg);
}

.icon-book {
    background-image: url(../images/filter/icon-book.svg); 
  }
  
.icon-fullplan {
    background-image: url(../images/filter/icon-fullplan.svg);
}

.icon-colour-month {
    background-image: url(../images/filter/icon-colour-month.svg);
}

.icon-colour-week {
    background-image: url(../images/filter/icon-colour-week.svg);
}
 
.icon-filter-color {
    background-image: url(../images/filter/filter-icon-color.svg);
}