.icon-correct {
  background-image: url(../images/quiz/correct-icon.svg);
}
.icon-flag {
  background-image: url(../images/quiz/icon_flag.svg);
}
.icon-flag-active{
  background-image: url(../images/quiz/icon_flag_active.svg);
}
.icon-incorrect {
  background-image: url(../images/quiz/incorrect-icon.svg);
}
.icon-solution {
  background-image: url(../images/quiz/icon-solution.svg);
}
.icon-test-previous {
  background-image: url(../images/quiz/icon-back.svg);
}
.icon-test-next {
  background-image: url(../images/quiz/icon-next.svg);
}
