
// Subjects Icons
.icon-history {
    background-image: url(../images/subjects/history.svg);
  }
  
  .icon-mathematics {
    background-image: url(../images/subjects/mathematics.svg);
  }
  
  .icon-science {
    background-image: url(../images/subjects/biology.svg);
  }
  
  .icon-geography {
    background-image: url(../images/subjects/geography.svg);
  }
  
  .icon-chemistry {
    background-image: url(../images/subjects/chemistry.svg);
  }
  
  .icon-politicalscience {
    background-image: url(../images/subjects/geography.svg);
  }
  .icon-environmentalscience {
    background-image: url(../images/subjects/geography.svg);
  }