.new-landing-panel{
  .col-right{
    .img-sec{
      display: none;
    }
  }
}

.overview{
	.box{
		overflow: hidden;
	}
	.swiper-pagination,
.bullets-paging {
  display: flex;
  justify-content: center;
  padding: 0 0 size(10);
  flex-wrap: wrap;

  .swiper-pagination-bullet,
  button:not(:disabled),
  [type='button']:not(:disabled),
  .btn {
    padding: 0 size(4) size(5);
    margin: 0;
    outline: none;
    cursor: auto;

    span {
      width: size(10);
      height: size(10);
      display: block;
      background: $whiteColor;
      border-radius: 100%;
	  opacity: 0.5;
    }

    &.active span {
      background: $whiteColor;
	  opacity: 1;
    }
  }
}
}


.icon-revise-img{
  background: url(../images/common/revise-icon.svg) no-repeat 50% 50%;
  background-size: cover;
  width: size(195);
  height: size(195);
}

.icon-digital_test-img{
  background: url(../images/common/test-icon.svg) no-repeat 50% 50%;
  background-size: cover;
  width: size(195);
  height: size(195);
}
.icon-oral_test-img{
  background: url(../images/common/test-icon.svg) no-repeat 50% 50%;
  background-size: cover;
  width: size(195);
  height: size(195);
}
.icon-practice-img{
  background: url(../images/common/practice-icon.svg) no-repeat 50% 50%;
  background-size: cover;
  width: size(195);
  height: size(195);
}


.mid-section {
  position: relative;
  .btn-arrow-toggle {
    position: absolute;
    bottom: size(40);
    left: 50%;
    margin: 0 0 0 size(-10);
    z-index: 2;
    transition: all 0.5s;
    img {
      border-radius: 50%;
    }
    &.down {
      bottom: size(20);
      transform: rotate(-180deg);
    }
  }
}

.overview {
  min-height: calc(100vh - 106px);
  .col-left{
	      border-radius: 20px;
		position: relative;
	  &::after{
		  content: "";
    background: url(../images/bg-images/overview_bg.svg) no-repeat right bottom;
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
	pointer-events: none;
	  }
  }
  // .mid-section{ min-height: calc(100vh - 230px);  }
  @include media-breakpoint-down(md) {
    min-height: calc(100vh - 80px);
	.box{
		border-radius: unset;
		.col-left{
			border-radius: 0px 0px 20px 20px;
		}
	}
  }
  .objective-section,
  .overview-section {
    height: 0;
    border-radius: 0 0 size(20) size(20);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;

    .heading4 {
      margin: 0 0 size(25);
    }
    .inner-sec {
      opacity: 0;
      transition: opacity 0.5s;
      transform: rotateX(90deg);
    }

    .card {
      align-items: center;
      align-items: center;
      background: no-repeat;
      box-shadow: none;
      border: 0;
      flex-direction: row;
    }
    &.active {
      min-height: calc(100vh - 15.866666666666667rem);
      height: auto;
      padding: size(30) 0 size(50);
      margin: 0;
      transform: rotateX(0deg);

      .inner-sec {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  .objective-section {
    z-index: 1;
  }
  .overview-section {
    margin: size(-10) 0 0;
    height: size(30);
  }
}

.action-section-outer {
  padding: size(20) 0 size(10);
  // .btn{color: inherit;}
  .action-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: size(340);
    position: relative;
    margin: 0 auto;
    .more-opt {
      position: absolute;
      right: size(10);
      bottom: size(-5);
    }
  }
  .dropdown-menu {
    box-shadow: 1px 3px 1px #e4e4e4;
    }
    
    .dropdown-item {
    font-size: 12px;
    color: $lightGraytext;
    }
    
    .dropdown-toggle::after {
    display: none;
    }
    .icon-more-option {
    background-color: rgba(0,0,0,0.04);
    border-radius: 50%;
   }
}
.todo-sec {
  max-width: size(240);
  margin: 0 auto size(30);
}
/*reverse listing css*/
// .revise-list-sec{max-width: size(244);margin:0 auto; }

// New panels
// .revise-list-sec{max-width: size(328);margin:0 auto; }
.overview{
.swiper-slide {
  min-height: calc(100vh - 16rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include media-breakpoint-down(md) {
    min-height: calc(100vh - 15rem);
  }

  .points-nav ul {
    padding: 0;
  }

  .mid-sec {
    // max-width: size(348);
    // margin: 0 auto;
    width: 100%;
    // .points-nav{ max-width: 242px; margin: 0 auto; }
  }

  .panel {
    order: 1;
    flex: 0 0 1;
    width: 100%;
    border-radius: 0 0 size(30) size(30);
    padding: size(20) 0 size(20);
    margin: size(-20) 0 0;
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
	flex-grow: 1;
    // align-items: center;
    // justify-content: center;
    transition: all 0.5s;

    .heading4 {
      padding: size(3) 0;
    }
    &:nth-child(1) {
      margin: 0;
      // padding: size(20) 0 0;
    }
    &:nth-child(2) {
      z-index: 3;
      margin-right: size(10);
      margin-left: size(10);
      width: calc(100% - 0.6666666667rem);
      &.active {
        margin-right: size(0);
        margin-left: size(0);
        width: calc(100%);
      }
    }
    &:nth-child(3) {
      z-index: 2;
      margin-right: size(20);
      margin-left: size(20);
      width: calc(100% - 1.3333333333rem);
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
      &.active {
        margin-right: size(0);
        margin-left: size(0);
        width: calc(100%);
      }
    }
    &:nth-child(4) {
      z-index: 1;
      z-index: 2;
      margin-right: size(30);
      margin-left: size(30);
      width: calc(100% - 2rem);
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    }

    &.active {
      flex-grow: 1;
    }
  }

  .panel-slide-sec {
    height: auto;
    overflow: auto;
    order: 2;
    transition: opacity 0.5s;
    opacity: 1;	
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
    width: 100%;
    padding: size(20) 0 size(15);
    @include media-breakpoint-down(md) { 
      padding: 0;
    }
    .instruction{
      padding: 0 size(16);
    }
  }
  .panel.active .btn-dot + .panel-slide-sec,
  input[type='radio']:checked + .btn-dot + .panel-slide-sec {
    height: auto;
    overflow: auto;
    opacity: 1;
    padding: size(20) 0 size(35);
  }
  .btn.btn-dot {
    cursor: pointer;
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
    opacity: 0.5;
    margin: 0;
    height: size(20);
    padding: 0;

    &:after {
      content: '';
      transition: all 0.5s;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: $whiteColor;
      display: inline-block;
    }
  }

  input[type='radio'] {
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }
  .panel.active .btn-dot,
  input[type='radio']:checked + .btn-dot {
    opacity: 1;
    &:after {
      width: 8px;
      height: 8px;
    }
  }

  .todo-list {
    margin: 0 0 size(28);
  }

  .card {
    align-items: center;
    align-items: center;
    background: no-repeat;
    box-shadow: none;
    border: 0;
    margin: 0;
    flex-direction: row;
    .info {
	  font-size: size(16);
	  font-family: $familySecondary;
  font-weight: $semibold;
  letter-spacing: -0.3px;
  line-height: size(19);
    }
    .img {
      flex: 0 0 size(52);
      max-width: size(52);
      margin: 0 size(8) 0 0;
      > img {
        border-radius: size(10);
        box-shadow: 0 0 size(10) rgba(0, 0, 0, 0.5);
      }
    }
    .info p {
      margin: 0;
    }
  }

  &.active {
    min-height: calc(100vh - 15.866666666666667rem);
    height: auto;
    padding: size(30) 0 size(50);
    margin: 0;
    transform: rotateX(0deg);

    .inner-sec {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
}
.mid-sec-objective {
  max-width: size(320);
  margin: size(62) auto 0;
}
.panel-overflow {
  // padding: 0 size(10);
  overflow: auto;
  // max-height: 400px;
  max-height:calc(100vh - 330px);
  
  &.panel-overflow-tqs {
    min-height: 200px;
    height: calc(100vh - (20em + 24px));
  }

 
}

.revise-list-sec{

.points-nav{
    .item{ padding-left:size(0);
    display: flex;
    width: 100%;
    padding-bottom: 0;
    // font-family: $familySecondary;
    // font-size: size(14);
    // font-weight: $medium;
    // letter-spacing: size(-0.2);
    // line-height: size(16);
    align-items: center;
	
        &:nth-child(odd){
          background:linear-gradient(180deg, rgba(0,0,0,0.06) 0%, rgba(0,0,0,0.05) 100%);
        }
        .bullet{ position: relative; width: size(50); display: flex; align-items: center; justify-content: center; margin-left: size(8); flex-direction: column;
			.bullet-icon{border: size(2) solid $whiteColor; background-color: rgba($whiteColor,0.2); display: flex; align-items: center; justify-content: center;
			&::before{
				    position: relative;	left: 0; top: 0;
				}
			}
			&:before{
				content: "";
				width: 2px;
				height: calc(50% - 12px);
				background-color: #fff;
			}
			&:after{
				content: "";
				width: 2px;
				height: calc(50% - 12px);
				background-color: #fff;
			}
			
		}
		&:first-child{
			.bullet::before{
				opacity: 0;
			}	
		}
		&:last-child{
			.bullet::after{
				opacity: 0;
			}	
		}
		.info{
			max-width: calc(100% - 60px);
      padding: size(10) 0;
      color: $whiteColor;
		}
        &:before{ left: size(31); border-left: size(2) solid; margin: auto; top: size(34.5); display: none;}

      }
  }
}


@include media-breakpoint-down(md) {
  .page.overview{
    .wrapper-page{background: #fff;}
  }
  .panel-overflow {
    &.panel-overflow-tqs {
      height: calc(100vh - 200px);
    }
  }
}

.points-nav-practice {
  padding: 0;
  .heading5{
    background: rgba(232 245 249 / 0.1);
      padding: size(14) size(22);
	  font-weight: $semibold;
    letter-spacing: 0;
    line-height: size(18);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
   li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: size(10) size(2) size(10) size(16);
    .info{
		    font-family: $familySecondary;
    font-size: size(14);
    font-weight: 500;
    letter-spacing: size(-0.2);
    line-height: size(16);
		.img {
		min-width: size(34);
		margin-right: size(8);
		font-size: size(12);
		text-align: center;
		position: relative;
		}
	}
    .conf-count {
      margin: size(-3) 0 size(-12);
    }
    &:nth-child(odd){
      background: linear-gradient(180deg, rgba(0,0,0,0.06) 0%, rgba(0,0,0,0.05) 100%);
    }

    .tooltip {
      min-width: size(328);
      transform: translate(-2px, 30px) !important;
      max-width: size(328);
  
      .tooltip-inner {
        padding: size(12) size(12) size(15);
      }
  
      &.bs-tooltip-bottom {
        padding-bottom: 0;
  
        .arrow {
          left: size(14) !important;
        }
      }
  
      .small-text {
        color: $whiteColor;
      }
    }

  }
}

.conf-state {
  height: size(60);
  width: size(245);
  border: 1px solid rgba(32, 32, 32, 0.3);
  border-radius: size(4);
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 size(2) size(4) rgba(0, 0, 0, 0.22);
  margin: 0 auto size(10);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: size(8) size(0);
  .col {
    flex-grow: 1;
    padding: 2px;
  }
  .confidence-icon {
    display: block;
    margin: 0 auto;
  }
  label {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: size(12);
    font-family: $familySecondary;
    strong {
      font-size: size(18);
      font-weight: $semibold;
    }
  }
}

.confidence-icon {
  display: inline-block;
  // min-width: size(24);
  // height: size(24);
  // width: size(24);
}
.confidence-high {
  background-image: url(../images/common/confidence-high.svg);
}
.confidence-med,
.confidence-medium {
  background-image: url(../images/common/confidence-medium.svg);
}
.confidence-low {
  background-image: url(../images/common/confidence-low.svg);
}

.review-btn {
  position: relative;
  left: 50%;     
  transform: translateX(-50%);     
  right: 50%;     
  display: flex;     
  justify-content: center;
}

@include media-breakpoint-up(lg) {

  .landing-page-container{
    max-width:size(824);
    margin: 0 auto;
    padding: 0;
  }
  
  .new-landing-panel{
    display: flex;
  
    .col-left{
      flex-grow: 1;
	  max-width: 70%;
    }
    .col-right{
      min-width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: size(30) 0;
      .img-sec{
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: size(270);
        height:30vh;
      }
      
    }
  }	
	.overview{
  .swiper-slide {
    min-height: calc(100vh - 14rem);
    border-radius: size(20);
    overflow: hidden;

  .panel {
   
    border-radius: 0 0 size(20) size(20);
    // border-radius: size(20);
   
  }
   
    &:nth-child(1) {
     
      border-radius: size(20);
    }
    &:nth-child(2) {
      margin-right: size(0);
      margin-left: size(0);
      width: calc(100%);
      
    }
    &:nth-child(3) {
      margin-right: size(0);
      margin-left: size(0);
      width: calc(100%);
    }
    &:nth-child(4) {
      
      margin-right: size(0);
      margin-left: size(0);
      width: calc(100%);
        }

    // &.active {
    //   border-radius: size(20);

    // }
}
}
}



.panel-overflow{
    // Scroll Css
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    // background: #f1f1f1;
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: #fff;
	border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }
}

.intro-screen-quiz-report{
	.panel-overflow {
  &.panel-overflow-tqs {
    // min-height: 200px;
    // height: calc(100vh - (27rem + 24px));
  }
}
}