.question{
    .section{ padding: 0 size(20); 
      &.top{ padding: size(20); }
      &.mid{ padding:0 0 size(25); }
    }
    .quest-box{background:$quest-box-color;padding:size(15) size(15) size(200);box-shadow:0 0 size(30) rgba(0,0,0,0.1);
      .quest-no{color:$quest-num-color;font-size: 18px;margin:0 0 size(50)}
      .answer-list{padding:0 size(15);
        .item{margin:0 0 size(13);}
  
      }
    }
    .carousel-btn-sec{display: flex;justify-content:center;position: absolute;left:50%;bottom:size(50);transform:translateX(-50%);
      .btn{padding:0;margin:0;outline:none;
        span{width:size(15);height:size(15);display:block;margin:size(3);background:$carousel-btn-color;border-radius:100%;}
        &.active span{background:$carousel-btn-active-color;}
      }
    }
  }

  @media(max-width:767px){
    .question{
        .quest-box{
            .quest-no{margin:0 0 size(20)}
        }
    }
  }