@import "bootstrap-variables";

// Css Variables
@import 'variables';

@import 'common';
// Modal css
@import 'modal';

//Quiz Icons
@import 'icons-quiz';

@import 'quiz-engine';

body{ background: none; }
.quiz-player-page {
    padding: 0;
    min-height: auto;
}
.quiz-player-page .quiz-player-container {
     min-height: auto;
}


@include media-breakpoint-down(md) {
	.top-global-comp,
	.quiz-player-page {
		> .container {
			padding: 0;
			max-width: 100%;
			.BigIdea .qsn-main-container .qsn-top-sec{
				padding-top: size(5);
			}
			.BigIdea.series .questionBox tce-question .questionWrapper .questMediaWrapper nx-afs-image-zoom div img, .BigIdea.composite .questionBox tce-question .questionWrapper .questMediaWrapper nx-afs-image-zoom div img {
    			max-height: 85%;
			}
		}
	}
}