<header class="header default-theme ng-star-inserted">
  <div class="header-inner">
    <div
      class="container-fluid d-flex justify-content-between align-items-center"
    >
      <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-icon justify-content-start ng-star-inserted">
          <span class="icon icon-menu ng-star-inserted"></span>
        </button>
        <h2 class="heading1 text-truncate">Syllabus</h2>
      </div>
      <div class="studi-logo d-none d-lg-block"></div>
    </div>
  </div>
</header>

<div class="page browse-book">
  <div class="wrapper-page">
    <div class="wrapper-page-inner">
      <div class="page-container-mid m-0">
        <div class="row align-items-start">
          <div class="col-xl-5 col-lg-6 col-sm-12">
            <div class="box box-shadow-view" [ngClass]="'intent-modal-open'">
              <div class="page-sec-pt-heading">
                <h2 class="heading2 p-18 theme-color pb-0 pt-0">
                  All Subjects
                </h2>
                <div class="list-actions">
                  <button
                    class="btn btn-icon"
                    ngbPopover="This feature will be available soon."
                    popoverClass="my-custom-class"
                  >
                    <span class="icon icon-lg icon-search"></span>
                  </button>
                </div>
              </div>
                <div class="subjects-list" id="step1">
                        <div class="card cursor subj-card subject-pink-theme" >
                            <div class="row no-gutters">
                                <div class=" subject-icon col-auto mr-8 cover-pink-theme">
                                    <span class="icon"></span>
                                </div>
                                <div class="col d-flex flex-column justify-content-between">
                                    <div class="card-block">
                                        <h4 class="card-title heading4 mb-10">Mathematics</h4>
                                        <div id="step2" class="sub-conf-cons-container">
                                            <span class="ico-item">
                                                <svg class="icon icon-conf-mid" width="24px" height="24px" viewBox="0 0 24 24">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <g transform="translate(-208.000000, -1693.000000)">
                                                            <g transform="translate(40.000000, 1541.000000)">
                                                                <g id="ConfidenceStates/Medium/EVS" transform="translate(168.000000, 152.000000)">
                                                                    <rect class="def-strk" x="0.5" y="0.5" width="23" height="23" rx="11.5"></rect>
                                                                    <rect class="icon-strk icon-fill" stroke-opacity="0.8" fill-opacity="0.4" x="4.5" y="4.5" width="15" height="15" rx="7.5"></rect>
                                                                    <rect class="icon-strk" stroke-opacity="0.4" x="8.5" y="8.5" width="7" height="7" rx="3.5"></rect>
                                                                </g>
                                                            
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="ico-item">
                                                <svg class="icon icon-notstudied" width="24px" height="24px" viewBox="0 0 24 24">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <g  transform="translate(-288.000000, -1853.000000)">
                                                                <g transform="translate(40.000000, 1541.000000)">
                                                                    <g id="ConfidenceStates/Low/EVS" transform="translate(248.000000, 312.000000)">
                                                                        <rect id="Oval-3" class="icon-strk"  fill-opacity="0"  x="0.5" y="0.5" width="23" height="23" rx="11.5"></rect>
                                                                        <rect id="Oval-2" class="def-strk" fill-opacity="0"  x="4.5" y="4.5" width="15" height="15" rx="7.5"></rect>
                                                                        <rect id="Oval-1" class="def-strk" x="8.5" y="8.5" width="7" height="7" rx="3.5"></rect>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="ico-item">
                                                <svg class="icon icon-notstudied" width="24px" height="24px" viewBox="0 0 24 24">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <g  transform="translate(-288.000000, -1853.000000)">
                                                                <g transform="translate(40.000000, 1541.000000)">
                                                                    <g id="ConfidenceStates/Low/EVS" transform="translate(248.000000, 312.000000)">
                                                                        <rect id="Oval-3" class="icon-strk"  fill-opacity="0"  x="0.5" y="0.5" width="23" height="23" rx="11.5"></rect>
                                                                        <rect id="Oval-2" class="def-strk" fill-opacity="0"  x="4.5" y="4.5" width="15" height="15" rx="7.5"></rect>
                                                                        <rect id="Oval-1" class="def-strk" x="8.5" y="8.5" width="7" height="7" rx="3.5"></rect>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="ico-item">
                                                <svg class="icon icon-notstudied" width="24px" height="24px" viewBox="0 0 24 24">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <g  transform="translate(-288.000000, -1853.000000)">
                                                                <g transform="translate(40.000000, 1541.000000)">
                                                                    <g id="ConfidenceStates/Low/EVS" transform="translate(248.000000, 312.000000)">
                                                                        <rect id="Oval-3" class="icon-strk"  fill-opacity="0"  x="0.5" y="0.5" width="23" height="23" rx="11.5"></rect>
                                                                        <rect id="Oval-2" class="def-strk" fill-opacity="0"  x="4.5" y="4.5" width="15" height="15" rx="7.5"></rect>
                                                                        <rect id="Oval-1" class="def-strk" x="8.5" y="8.5" width="7" height="7" rx="3.5"></rect>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="ico-item">
                                                <svg class="icon icon-notstudied" width="24px" height="24px" viewBox="0 0 24 24">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <g  transform="translate(-288.000000, -1853.000000)">
                                                                <g transform="translate(40.000000, 1541.000000)">
                                                                    <g id="ConfidenceStates/Low/EVS" transform="translate(248.000000, 312.000000)">
                                                                        <rect id="Oval-3" class="icon-strk"  fill-opacity="0"  x="0.5" y="0.5" width="23" height="23" rx="11.5"></rect>
                                                                        <rect id="Oval-2" class="def-strk" fill-opacity="0"  x="4.5" y="4.5" width="15" height="15" rx="7.5"></rect>
                                                                        <rect id="Oval-1" class="def-strk" x="8.5" y="8.5" width="7" height="7" rx="3.5"></rect>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="ico-item">
                                                <svg class="icon icon-notstudied" width="24px" height="24px" viewBox="0 0 24 24">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <g  transform="translate(-288.000000, -1853.000000)">
                                                                <g transform="translate(40.000000, 1541.000000)">
                                                                    <g id="ConfidenceStates/Low/EVS" transform="translate(248.000000, 312.000000)">
                                                                        <rect id="Oval-3" class="icon-strk"  fill-opacity="0"  x="0.5" y="0.5" width="23" height="23" rx="11.5"></rect>
                                                                        <rect id="Oval-2" class="def-strk" fill-opacity="0"  x="4.5" y="4.5" width="15" height="15" rx="7.5"></rect>
                                                                        <rect id="Oval-1" class="def-strk" x="8.5" y="8.5" width="7" height="7" rx="3.5"></rect>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                    </g>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    <p class=" mt-3 mb-0 small-text"> Last accessed today </p>
                                </div>
                            </div>
                        </div>
                        <div class="card cursor subj-card subject-purple-theme">
                            <div class="row no-gutters">
                                <div class=" subject-icon col-auto mr-8 cover-purple-theme">
                                    <span class="icon"></span>
                                </div>
                                <div class="col d-flex flex-column justify-content-between">
                                    <div class="card-block">
                                        <h4 class="card-title heading4 mb-10">Political Science</h4>
                                        <div class="sub-conf-cons-container">
                                                <span class="ico-item">
                                                    <svg class="icon icon-conf-mid" width="24px" height="24px" viewBox="0 0 24 24">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <g transform="translate(-208.000000, -1693.000000)">
                                                                <g transform="translate(40.000000, 1541.000000)">
                                                                    <g id="ConfidenceStates/Medium/EVS" transform="translate(168.000000, 152.000000)">
                                                                        <rect class="def-strk" x="0.5" y="0.5" width="23" height="23" rx="11.5"></rect>
                                                                        <rect class="icon-strk icon-fill" stroke-opacity="0.8" fill-opacity="0.4" x="4.5" y="4.5" width="15" height="15" rx="7.5"></rect>
                                                                        <rect class="icon-strk" stroke-opacity="0.4" x="8.5" y="8.5" width="7" height="7" rx="3.5"></rect>
                                                                    </g>
                                                                
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </span>
                                                <span class="ico-item">
                                                    <svg class="icon icon-notstudied" width="24px" height="24px" viewBox="0 0 24 24">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <g  transform="translate(-288.000000, -1853.000000)">
                                                                    <g transform="translate(40.000000, 1541.000000)">
                                                                        <g id="ConfidenceStates/Low/EVS" transform="translate(248.000000, 312.000000)">
                                                                            <rect id="Oval-3" class="icon-strk"  fill-opacity="0"  x="0.5" y="0.5" width="23" height="23" rx="11.5"></rect>
                                                                            <rect id="Oval-2" class="def-strk" fill-opacity="0"  x="4.5" y="4.5" width="15" height="15" rx="7.5"></rect>
                                                                            <rect id="Oval-1" class="def-strk" x="8.5" y="8.5" width="7" height="7" rx="3.5"></rect>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                        </g>
                                                    </svg>
                                                </span>
                                                <span class="ico-item">
                                                    <svg class="icon icon-notstudied" width="24px" height="24px" viewBox="0 0 24 24">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <g  transform="translate(-288.000000, -1853.000000)">
                                                                    <g transform="translate(40.000000, 1541.000000)">
                                                                        <g id="ConfidenceStates/Low/EVS" transform="translate(248.000000, 312.000000)">
                                                                            <rect id="Oval-3" class="icon-strk"  fill-opacity="0"  x="0.5" y="0.5" width="23" height="23" rx="11.5"></rect>
                                                                            <rect id="Oval-2" class="def-strk" fill-opacity="0"  x="4.5" y="4.5" width="15" height="15" rx="7.5"></rect>
                                                                            <rect id="Oval-1" class="def-strk" x="8.5" y="8.5" width="7" height="7" rx="3.5"></rect>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                        </g>
                                                    </svg>
                                                </span>
                                                <span class="ico-item">
                                                    <svg class="icon icon-notstudied" width="24px" height="24px" viewBox="0 0 24 24">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <g  transform="translate(-288.000000, -1853.000000)">
                                                                    <g transform="translate(40.000000, 1541.000000)">
                                                                        <g id="ConfidenceStates/Low/EVS" transform="translate(248.000000, 312.000000)">
                                                                            <rect id="Oval-3" class="icon-strk"  fill-opacity="0"  x="0.5" y="0.5" width="23" height="23" rx="11.5"></rect>
                                                                            <rect id="Oval-2" class="def-strk" fill-opacity="0"  x="4.5" y="4.5" width="15" height="15" rx="7.5"></rect>
                                                                            <rect id="Oval-1" class="def-strk" x="8.5" y="8.5" width="7" height="7" rx="3.5"></rect>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                        </g>
                                                    </svg>
                                                </span>
                                                <span class="ico-item">
                                                    <svg class="icon icon-notstudied" width="24px" height="24px" viewBox="0 0 24 24">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <g  transform="translate(-288.000000, -1853.000000)">
                                                                    <g transform="translate(40.000000, 1541.000000)">
                                                                        <g id="ConfidenceStates/Low/EVS" transform="translate(248.000000, 312.000000)">
                                                                            <rect id="Oval-3" class="icon-strk"  fill-opacity="0"  x="0.5" y="0.5" width="23" height="23" rx="11.5"></rect>
                                                                            <rect id="Oval-2" class="def-strk" fill-opacity="0"  x="4.5" y="4.5" width="15" height="15" rx="7.5"></rect>
                                                                            <rect id="Oval-1" class="def-strk" x="8.5" y="8.5" width="7" height="7" rx="3.5"></rect>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                        </g>
                                                    </svg>
                                                </span>
                                                <span class="ico-item">
                                                    <svg class="icon icon-notstudied" width="24px" height="24px" viewBox="0 0 24 24">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <g  transform="translate(-288.000000, -1853.000000)">
                                                                    <g transform="translate(40.000000, 1541.000000)">
                                                                        <g id="ConfidenceStates/Low/EVS" transform="translate(248.000000, 312.000000)">
                                                                            <rect id="Oval-3" class="icon-strk"  fill-opacity="0"  x="0.5" y="0.5" width="23" height="23" rx="11.5"></rect>
                                                                            <rect id="Oval-2" class="def-strk" fill-opacity="0"  x="4.5" y="4.5" width="15" height="15" rx="7.5"></rect>
                                                                            <rect id="Oval-1" class="def-strk" x="8.5" y="8.5" width="7" height="7" rx="3.5"></rect>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                        </g>
                                                    </svg>
                                                </span>
                                        </div>
                                    </div>
                                    <p class=" mt-3 mb-0 small-text"> Last accessed last week </p>
                                </div>
                            </div>
                        </div>
                        <div class="card cursor subj-card subject-green-theme">
                            <div class="row no-gutters">
                                <div class=" subject-icon col-auto mr-8 cover-green-theme">
                                    <span class="icon"></span>
                                </div>
                                <div class="col d-flex flex-column justify-content-between">
                                    <div class="card-block">
                                        <h4 class="card-title heading4 mb-10">Environmental Science</h4>
                                        <div class="sub-conf-cons-container">
                                            <span class="ico-item">
                                                <svg class="icon icon-conf-mid" width="24px" height="24px" viewBox="0 0 24 24">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <g transform="translate(-208.000000, -1693.000000)">
                                                            <g transform="translate(40.000000, 1541.000000)">
                                                                <g id="ConfidenceStates/Medium/EVS" transform="translate(168.000000, 152.000000)">
                                                                    <rect class="def-strk" x="0.5" y="0.5" width="23" height="23" rx="11.5"></rect>
                                                                    <rect class="icon-strk icon-fill" stroke-opacity="0.8" fill-opacity="0.4" x="4.5" y="4.5" width="15" height="15" rx="7.5"></rect>
                                                                    <rect class="icon-strk" stroke-opacity="0.4" x="8.5" y="8.5" width="7" height="7" rx="3.5"></rect>
                                                                </g>
                                                            
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="ico-item">
                                                <svg class="icon icon-notstudied" width="24px" height="24px" viewBox="0 0 24 24">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <g  transform="translate(-288.000000, -1853.000000)">
                                                                <g transform="translate(40.000000, 1541.000000)">
                                                                    <g id="ConfidenceStates/Low/EVS" transform="translate(248.000000, 312.000000)">
                                                                        <rect id="Oval-3" class="icon-strk"  fill-opacity="0"  x="0.5" y="0.5" width="23" height="23" rx="11.5"></rect>
                                                                        <rect id="Oval-2" class="def-strk" fill-opacity="0"  x="4.5" y="4.5" width="15" height="15" rx="7.5"></rect>
                                                                        <rect id="Oval-1" class="def-strk" x="8.5" y="8.5" width="7" height="7" rx="3.5"></rect>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="ico-item">
                                                <svg class="icon icon-notstudied" width="24px" height="24px" viewBox="0 0 24 24">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <g  transform="translate(-288.000000, -1853.000000)">
                                                                <g transform="translate(40.000000, 1541.000000)">
                                                                    <g id="ConfidenceStates/Low/EVS" transform="translate(248.000000, 312.000000)">
                                                                        <rect id="Oval-3" class="icon-strk"  fill-opacity="0"  x="0.5" y="0.5" width="23" height="23" rx="11.5"></rect>
                                                                        <rect id="Oval-2" class="def-strk" fill-opacity="0"  x="4.5" y="4.5" width="15" height="15" rx="7.5"></rect>
                                                                        <rect id="Oval-1" class="def-strk" x="8.5" y="8.5" width="7" height="7" rx="3.5"></rect>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="ico-item">
                                                <svg class="icon icon-notstudied" width="24px" height="24px" viewBox="0 0 24 24">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <g  transform="translate(-288.000000, -1853.000000)">
                                                                <g transform="translate(40.000000, 1541.000000)">
                                                                    <g id="ConfidenceStates/Low/EVS" transform="translate(248.000000, 312.000000)">
                                                                        <rect id="Oval-3" class="icon-strk"  fill-opacity="0"  x="0.5" y="0.5" width="23" height="23" rx="11.5"></rect>
                                                                        <rect id="Oval-2" class="def-strk" fill-opacity="0"  x="4.5" y="4.5" width="15" height="15" rx="7.5"></rect>
                                                                        <rect id="Oval-1" class="def-strk" x="8.5" y="8.5" width="7" height="7" rx="3.5"></rect>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="ico-item">
                                                <svg class="icon icon-notstudied" width="24px" height="24px" viewBox="0 0 24 24">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <g  transform="translate(-288.000000, -1853.000000)">
                                                                <g transform="translate(40.000000, 1541.000000)">
                                                                    <g id="ConfidenceStates/Low/EVS" transform="translate(248.000000, 312.000000)">
                                                                        <rect id="Oval-3" class="icon-strk"  fill-opacity="0"  x="0.5" y="0.5" width="23" height="23" rx="11.5"></rect>
                                                                        <rect id="Oval-2" class="def-strk" fill-opacity="0"  x="4.5" y="4.5" width="15" height="15" rx="7.5"></rect>
                                                                        <rect id="Oval-1" class="def-strk" x="8.5" y="8.5" width="7" height="7" rx="3.5"></rect>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="ico-item">
                                                <svg class="icon icon-notstudied" width="24px" height="24px" viewBox="0 0 24 24">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <g  transform="translate(-288.000000, -1853.000000)">
                                                                <g transform="translate(40.000000, 1541.000000)">
                                                                    <g id="ConfidenceStates/Low/EVS" transform="translate(248.000000, 312.000000)">
                                                                        <rect id="Oval-3" class="icon-strk"  fill-opacity="0"  x="0.5" y="0.5" width="23" height="23" rx="11.5"></rect>
                                                                        <rect id="Oval-2" class="def-strk" fill-opacity="0"  x="4.5" y="4.5" width="15" height="15" rx="7.5"></rect>
                                                                        <rect id="Oval-1" class="def-strk" x="8.5" y="8.5" width="7" height="7" rx="3.5"></rect>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                    </g>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    <p class=" mt-3 mb-0 small-text"> Last accessed yesterday </p>
                                </div>
                            </div>
                        </div>    
                        <div class="card cursor subj-card subject-watermelon-pink-theme">
                            <div class="row no-gutters">
                                <div class=" subject-icon col-auto mr-8 cover-watermelon-pink-theme">
                                    <span class="icon"></span>
                                </div>
                                <div class="col d-flex flex-column justify-content-between">
                                    <div class="card-block">
                                        <h4 class="card-title heading4 mb-10">Sanskrit Literature</h4>
                                        <div class="sub-conf-cons-container">
                                            <span class="ico-item">
                                                <svg class="icon icon-conf-mid" width="24px" height="24px" viewBox="0 0 24 24">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <g transform="translate(-208.000000, -1693.000000)">
                                                            <g transform="translate(40.000000, 1541.000000)">
                                                                <g id="ConfidenceStates/Medium/EVS" transform="translate(168.000000, 152.000000)">
                                                                    <rect class="def-strk" x="0.5" y="0.5" width="23" height="23" rx="11.5"></rect>
                                                                    <rect class="icon-strk icon-fill" stroke-opacity="0.8" fill-opacity="0.4" x="4.5" y="4.5" width="15" height="15" rx="7.5"></rect>
                                                                    <rect class="icon-strk" stroke-opacity="0.4" x="8.5" y="8.5" width="7" height="7" rx="3.5"></rect>
                                                                </g>
                                                            
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="ico-item">
                                                <svg class="icon icon-notstudied" width="24px" height="24px" viewBox="0 0 24 24">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <g  transform="translate(-288.000000, -1853.000000)">
                                                                <g transform="translate(40.000000, 1541.000000)">
                                                                    <g id="ConfidenceStates/Low/EVS" transform="translate(248.000000, 312.000000)">
                                                                        <rect id="Oval-3" class="icon-strk"  fill-opacity="0"  x="0.5" y="0.5" width="23" height="23" rx="11.5"></rect>
                                                                        <rect id="Oval-2" class="def-strk" fill-opacity="0"  x="4.5" y="4.5" width="15" height="15" rx="7.5"></rect>
                                                                        <rect id="Oval-1" class="def-strk" x="8.5" y="8.5" width="7" height="7" rx="3.5"></rect>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="ico-item">
                                                <svg class="icon icon-notstudied" width="24px" height="24px" viewBox="0 0 24 24">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <g  transform="translate(-288.000000, -1853.000000)">
                                                                <g transform="translate(40.000000, 1541.000000)">
                                                                    <g id="ConfidenceStates/Low/EVS" transform="translate(248.000000, 312.000000)">
                                                                        <rect id="Oval-3" class="icon-strk"  fill-opacity="0"  x="0.5" y="0.5" width="23" height="23" rx="11.5"></rect>
                                                                        <rect id="Oval-2" class="def-strk" fill-opacity="0"  x="4.5" y="4.5" width="15" height="15" rx="7.5"></rect>
                                                                        <rect id="Oval-1" class="def-strk" x="8.5" y="8.5" width="7" height="7" rx="3.5"></rect>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="ico-item">
                                                <svg class="icon icon-notstudied" width="24px" height="24px" viewBox="0 0 24 24">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <g  transform="translate(-288.000000, -1853.000000)">
                                                                <g transform="translate(40.000000, 1541.000000)">
                                                                    <g id="ConfidenceStates/Low/EVS" transform="translate(248.000000, 312.000000)">
                                                                        <rect id="Oval-3" class="icon-strk"  fill-opacity="0"  x="0.5" y="0.5" width="23" height="23" rx="11.5"></rect>
                                                                        <rect id="Oval-2" class="def-strk" fill-opacity="0"  x="4.5" y="4.5" width="15" height="15" rx="7.5"></rect>
                                                                        <rect id="Oval-1" class="def-strk" x="8.5" y="8.5" width="7" height="7" rx="3.5"></rect>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="ico-item">
                                                <svg class="icon icon-notstudied" width="24px" height="24px" viewBox="0 0 24 24">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <g  transform="translate(-288.000000, -1853.000000)">
                                                                <g transform="translate(40.000000, 1541.000000)">
                                                                    <g id="ConfidenceStates/Low/EVS" transform="translate(248.000000, 312.000000)">
                                                                        <rect id="Oval-3" class="icon-strk"  fill-opacity="0"  x="0.5" y="0.5" width="23" height="23" rx="11.5"></rect>
                                                                        <rect id="Oval-2" class="def-strk" fill-opacity="0"  x="4.5" y="4.5" width="15" height="15" rx="7.5"></rect>
                                                                        <rect id="Oval-1" class="def-strk" x="8.5" y="8.5" width="7" height="7" rx="3.5"></rect>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="ico-item">
                                                <svg class="icon icon-notstudied" width="24px" height="24px" viewBox="0 0 24 24">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <g  transform="translate(-288.000000, -1853.000000)">
                                                                <g transform="translate(40.000000, 1541.000000)">
                                                                    <g id="ConfidenceStates/Low/EVS" transform="translate(248.000000, 312.000000)">
                                                                        <rect id="Oval-3" class="icon-strk"  fill-opacity="0"  x="0.5" y="0.5" width="23" height="23" rx="11.5"></rect>
                                                                        <rect id="Oval-2" class="def-strk" fill-opacity="0"  x="4.5" y="4.5" width="15" height="15" rx="7.5"></rect>
                                                                        <rect id="Oval-1" class="def-strk" x="8.5" y="8.5" width="7" height="7" rx="3.5"></rect>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                    </g>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    <p class=" mt-3 mb-0 small-text"> Last accessed today </p>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="mega-footer">
                    <div class="footer-info">
                    </div>
                </div>
            </div>
          </div>
          <div class="col-lg-5 custom-sticky-top top-40">
            <div class="box side-box sec-mr-top">
              <div class="slider-wrapper">
                <div class="task-assignment-steps">
                  <div>
                    <div class="modal-header p-0 p-md-4 d-block d-lg-none">
                      <h4 class="modal-title"></h4>
                      <button
                        type="button"
                        aria-label="Close"
                        class="btn btn-icon close close-icon"
                      >
                        <svg
                          width="24px"
                          height="24px"
                          viewBox="0 0 24 24"
                          version="1.1"
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                        >
                          <circle
                            id="Oval"
                            fill-opacity="0.06"
                            fill="#1268B3"
                            cx="12"
                            cy="12"
                            r="12"
                          ></circle>
                          <line
                            x1="7.55025253"
                            y1="16.5502525"
                            x2="16.5502525"
                            y2="7.55025253"
                            id="Path-5"
                            stroke="#000"
                          ></line>
                          <line
                            x1="7.55025253"
                            y1="16.5502525"
                            x2="16.5502525"
                            y2="7.55025253"
                            id="Path-5"
                            stroke="#000"
                            transform="translate(12.050253, 12.050253) scale(-1, 1) translate(-12.050253, -12.050253) "
                          ></line>
                        </svg>
                      </button>
                    </div>
                    <div class="modal-body intent-modal-body">
                      <div class="create-cards ng-star-inserted">
                        <div class="head">
                          <h4 class="heading3 primary">
                            Create
                          </h4>
                        </div>
                        <div
                          class="card asn-card flex-row c-pointer maths-css ng-star-inserted"
                        >
                          <div
                            class="img d-flex justify-content-center align-items-center"
                          >
                            <span class="icon icon-oral"></span>
                          </div>
                          <div class="info">
                            <h3 class="title heading5">
                              Oral Test
                            </h3>
                            <div
                              class="meta d-flex justify-content-between align-items-center"
                            >
                              <div class="item">
                                Test your confidence with oral evaluation
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="card asn-card flex-row c-pointer maths-css ng-star-inserted"
                        >
                          <div
                            class="img d-flex justify-content-center align-items-center"
                          >
                            <span class="icon icon-studyplan"></span>
                          </div>
                          <div class="info">
                            <h3 class="title heading5">
                              Study Plan
                            </h3>
                            <div
                              class="meta d-flex justify-content-between align-items-center"
                            >
                              <div class="item">
                                Create your study plan instantly
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="create-cards ng-star-inserted">
                        <div class="head">
                          <h4 class="heading3 primary">
                            Assign
                          </h4>
                        </div>
                        <div
                          class="card asn-card flex-row c-pointer maths-css ng-star-inserted"
                        >
                          <div
                            class="img d-flex justify-content-center align-items-center"
                          >
                            <span class="icon icon-digital"></span>
                          </div>
                          <div class="info">
                            <h3 class="title heading5">
                              Digital Test
                            </h3>
                            <div
                              class="meta d-flex justify-content-between align-items-center"
                            >
                              <div class="item">
                                Test your confidence with digital evaluation
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
